# Ignore everything
**

# Include the following
!.htmlnanorc
!Cargo.lock
!Cargo.toml
!client/**
!entrypoint.sh
!LICENSE
!package-lock.json
!package.json
!postcss.config.ts
!src/**
!tailwind.config.ts
!tsconfig.json
!vite.config.ts
